{% extends 'base.html.twig' %}


{% block body %}
    {{ include('components/_custom_nav.html.twig')  }}
    <div class="config-config-container">
        <div class="config-config-inputs">
            <div class="config-config1">
                <p>{{ house.name }}</p>

                <p>Owner: {{ house.owner.getName() }}</p>
                <p>Address: {{ house.address }}</p>
                <p>City {{ house.city }}</p>
                <div class="delete-btn">
                    <a href="#">Delete Home</a>
                </div>
            </div>
            <div class="config-config2">

                <div class="config-config2-1">
                    <p>Devices</p>
                    <div class="config-config2-1-1">

                        <div class="device">
                            <p>Device 1 - lamp - kitchen</p>
                            <div class="device-controls">
                                <a href="#" class="on-link">On</a>
                                <a href="#" class="off-link">Off</a>
                                <a href="#" class="delete-link">Delete</a>
                            </div>
                        </div>

                        <div class="device">
                            <p>Device 2 - lamp - bedroom</p>
                            <div class="device-controls">
                                <a href="#" class="on-link">On</a>
                                <a href="#" class="off-link">Off</a>
                                <a href="#" class="delete-link">Delete</a>
                            </div>
                        </div>
                        <!-- Dodaj kolejne urządzenia w ten sam sposób -->
                    </div>
                </div>
            </div>
        </div>

        <div class="config-forms">
            <section>
                <h2 class="add-home">Add Room</h2>
                <div class="add-home-form">
                    <form action="#" method="post">
                        <div class="form-group">

                            <div class="home-input">
                                <p>Enter name</p>
                                <input placeholder="name" name="Name">
                            </div>

                            <div class="home-input">
                                <p>Enter City</p>
                                <input placeholder="city" name="City">
                            </div>

                            <div class="home-input">
                                <p>Enter Address</p>
                                <input placeholder="address" name="Address">
                            </div>

                            <button class="add-home-button" type="submit">Add home</button>

                        </div>
                    </form>
                </div>
            </section>

            <section>
                <h2 class="add-home">Add Device</h2>
                <div class="add-home-form">
                    <form action="#" method="post">
                        <div class="form-group">

                            <div class="home-input">
                                <p>Enter name</p>
                                <input placeholder="name" name="Name">
                            </div>

                            <div class="home-input">
                                <p>Enter City</p>
                                <input placeholder="city" name="City">
                            </div>

                            <div class="home-input">
                                <p>Enter Address</p>
                                <input placeholder="address" name="Address">
                            </div>

                            <button class="add-home-button" type="submit">Add home</button>

                        </div>
                    </form>
                </div>
            </section>
        </div>




    </div>


{% endblock %}