{% extends 'base.html.twig' %}

{% block title %}Home config{% endblock %}

{% block body %}
    {{ include('components/_custom_nav.html.twig')  }}

    <div class="home-config-container">
            <div class="home-config-info flex">

                <div class="flash">
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">{{ message }} !</div>
                        {% endfor %}
                    {% endfor %}
                </div>

                {% if houses is null %}
                    <h1>You don't have any homes</h1>
                {% else %}
                <h1>Select your home</h1>


                <div class="home-config__home-info">
                    {% for house in houses %}

                        <div class="flex">
                            <p class="house-name">{{ house.name }}</p>

                            <div class="info">
                                <p>City: {{ house.City }}</p>
                                <p>Address: {{ house.address }}</p>
                                <p>Owner: {{ house.owner.getName() }}</p>
                            </div>
                            <div class="config-button">
                                <a href="{{ path('app_home_config_config', {'id': house.id}) }}">Config Home</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>


        <h2 class="add-home">Add Home</h2>
        <div class="add-home-form">
            <form action="{{ path('app_add_house') }}" method="post">
                <div class="form-group">

                    <div class="home-input">
                        <p>Enter name</p>
                        <input placeholder="name" name="Name">
                    </div>

                    <div class="home-input">
                        <p>Enter City</p>
                        <input placeholder="city" name="City">
                    </div>

                    <div class="home-input">
                        <p>Enter Address</p>
                        <input placeholder="address" name="Address">
                    </div>

                    <button class="add-home-button" type="submit">Add home</button>

                </div>
            </form>
        </div>

    </div>

{% endblock %}
